@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Roboto&family=Special+Elite&display=swap');

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for Homepage */

.homepage_html, .homepage_body {
    height: 100%;
    margin: 0px;
}

.homepage_body {
    background-color: #5c4742;
    display: flex;
    justify-content: space-between;
}

.create {
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-family: 'Special Elite';
    margin-left: 4vw;
    font-size: 2vw;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-shadow: black 1px 1px;
    font-weight: 900;
    color: white;
}

.create a {
    text-decoration: none;
    color: inherit;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: white;
    margin-right: 4vw;
}

.homepage_title {
    font-family: 'Bungee Shade';
    font-size: 8vw;
    margin-bottom: 0.5vw;
    -webkit-text-stroke-color: black;
    text-shadow: black 1px 3px;
    font-weight: 900;
}

.homepage_subtitle {
    font-family: 'Special Elite';
    font-size: 3vw;
    margin: 0px;
    -webkit-text-stroke-color: black;
    text-shadow: black 1px 1px;
    font-weight: 900;
}

/* Styling for Create page */

.html_create, .create_body {
    height: 100%;
}

.create_body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.mushroom_logo {
    max-width: 50px;
    margin-left: 10px;
}

.header_create {
    display: flex;
    padding: 2px;
    background-color: #d5bdaf;
}

.main_body {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

/* Left sidebar Styling */

.left_sidebar {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-right: 1px solid rgb(180, 180, 180);
    height: 100%;
    width: 3%;
    gap: 10px;
    align-items: center;
    padding: 10px;
    flex: 0 0 0;
}

.left_sidebar_topics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left_sidebar_topics p {
    margin: 2px;
    font-family: Roboto;
    font-size: 13px;
}

/*Collapsing sidebar Styling */

.collapsing_sidebar {
    height: 100%;
    border-right: 1px solid rgb(180, 180, 180);
    padding: 0px 10px; /*Change this padding at the end */
    width: 10%; /* Change this width at the end */
    background-color: rgb(247, 247, 247);
    transition: 0.5s;
}

.collapsing_sidebar p {
    transition: 0.3s;
}

.collapsing_sidebar_title {
    font-size: 100%;
    font-weight: 900;
    margin: 4%;
}

.list {
    background: #e91e63;
    height: 5%;
    margin: 4%;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: grab;
    text-wrap:nowrap;
    border-radius: 15px;
}

.list img {
    width: 5%;
    margin: 7%;
}

/* Middle Sidebar Styling */

.middle_sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(142, 181, 255);
    flex: 1;
    width: 40%;
    height: 100%;
}

/* Right Sidebar Styling */

.right_sidebar {
    display: flex;
    flex-direction: column;
    background-color: pink;
    flex: 1;
    width: 50%;
    height: 100%;
}